
<fieldset>
<table>
<tr>

<td id='indent_item'><%= f.grouped_collection_select(:store_item_id, Store.order(:name),:store_items,:name, :id, :name, {:prompt => "Select store items"}, {:class => "indent_item"})%></td>
<td><%= f.text_field :issued, :class => 'input-medium', :placeholder =>"Issued Type" %></td>
<%#= f.text_field :quantity, :class => 'input-small', :placeholder =>"Qunatity" %>
<td><%= f.text_field :price, :class => 'input-small', :placeholder =>"Price" %></td>
<td><%= f.text_field :pending, :class => 'input-small', :placeholder =>"Pending" %></td>
<td><%= f.text_field :issued, :class => 'input-small', :placeholder =>"Issued " %></td>
<td><%= f.text_field :required, :class => 'input-small', :placeholder =>"Required" %></td>
<%= f.hidden_field :_destroy %>
<td><%= link_to "remove", '#', :class => "remove_fields" %></td>
</tr>
</table>
</fieldset>

